##### REQUIRED FOR DEV #####

# Supabase keys, learn more here: https://supabase.com/docs/guides/getting-started/quickstarts/nextjs
NEXT_PUBLIC_SUPABASE_URL=your_supabase_url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your_supabase_anon_key
NEXT_PRIVATE_SUPABASE_SERVICE_ROLE_KEY=

# needed for sending auth emails, learn more here: https://supabase.com/docs/guides/auth/auth-hooks?queryGroups=language&language=http
SEND_EMAIL_HOOK_SECRET=

# key used to send emails via resend, learn more here: https://resend.com/docs/send-with-nextjs
RESEND_API_KEY=

# Keys used to connect to PostHog, learn more here: https://posthog.com/docs/libraries/next-js?tab=App+router
NEXT_PUBLIC_POSTHOG_KEY=your_posthog_key
NEXT_PUBLIC_POSTHOG_HOST=your_posthog_host

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# Connect to Supabase via connection pooling with Supavisor.
DATABASE_URL="postgresql://postgres:postgres@db:5432/techblitz"

# Direct connection to the database. Used for migrations.
DIRECT_URL=

# What ever port you are running the app on
NEXT_PUBLIC_URL=

# Redirect url for updating user details
UPDATE_USER_REDIRECT_URL=

# the url to execute the code 
EXECUTE_CODE_URL=

##### OPTIONAL KEYS NOT REQUIRED FOR DEV #####

# Keys used to connect to Stripe (only needed for stripe development)
NEXT_PUBLIC_STRIPE_PUBLISHABLE_KEY=your_stripe_publishable_key
NEXT_PRIVATE_STRIPE_SECRET_KEY=your_stripe_secret_key
# webhook secret used for updating user details from stripe events, learn more here: https://docs.stripe.com/development/dashboard/webhooks?locale=en-GB
NEXT_PRIVATE_STRIPE_WEBHOOK_SECRET=

# Keys used to connect to OpenAI (only needed for ai development)
NEXT_PUBLIC_OPENAI_API_KEY=your_openai_api_key
NEXT_PRIVATE_OPEN_AI_ORG=

# Keys used to connect to Claude (only needed for ai development)
NEXT_PUBLIC_ANTHROPIC_API_KEY=your_anthropic_api_key

# already preset. 
NEXT_PUBLIC_ENV=development

# secret used to authenticate cron jobs, not needed for dev
CRON_SECRET=

# the referral code that will be used to invite users
REFERRAL_CODE=

# the stripe product id for the premium product (used to create custom signup coupons)
STRIPE_PREMIUM_PRODUCT_ID=

# OAuth
NEXT_PUBLIC_GITHUB_OAUTH_CLIENT_ID=your_github_client_id
NEXT_PUBLIC_GITHUB_OAUTH_CLIENT_SECRET=your_github_client_secret
NEXT_PUBLIC_GOOGLE_OAUTH_CLIENT_ID=your_google_client_id
NEXT_PUBLIC_GOOGLE_OAUTH_CLIENT_SECRET=your_google_client_secret

# Docker for self hosting
DOCKER=false