@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;

  --color-secondary: #ffffff;
  --color-accent: rgb(91, 97, 214);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000 !important;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground) !important;
  background: var(--background) !important;
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .pause-animation {
    animation-play-state: paused;
  }

  .card-wrapper {
    @apply relative overflow-hidden;
  }

  /* Gradient */
  .card-wrapper::before {
    background: conic-gradient(
      rgba(91, 97, 214, 1) 0deg,
      rgba(91, 97, 214, 0.5) 90deg,
      transparent 80deg
    );
    content: '';
    position: absolute;
    top: 10%;
    left: -25%;
    height: 75%;
    width: 150%;

    @apply animate-border-spin;
  }

  /* Body */
  .card-content {
    @apply absolute left-[1px] top-[1px] h-[calc(100%-2px)] w-[calc(100%-2px)];
  }

  .line {
    position: absolute;
    width: 4px;
    background-color: #e5e5e5; /* default color */
    transition: background-color 0.3s ease;
  }

  .line.active {
    background-color: #34d399; /* green when active */
  }

  .line.inactive {
    background-color: #f87171; /* red for incorrect answers */
  }

  .text-gradient {
    @apply bg-clip-text text-transparent bg-gradient-to-b;
  }
}

/* Basic editor styles */
.tiptap {
  :first-child {
    margin-top: 0;
  }

  /* Code and preformatted text styles */
  code {
    background-color: var(--purple-light);
    border-radius: 0.4rem;
    color: var(--white);
    font-size: 0.85rem;
    padding: 0.25em 0.3em;
  }

  pre:focus-visible {
    outline: 2px solid var(--purple);
    outline-offset: 0.5rem;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 240 10% 3.9%;
    --card: 0 0% 5% 1;
    --card-foreground: 240 10% 3.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 240 10% 3.9%;
    --primary: 240 5.9% 10%;
    --primary-foreground: 0 0% 98%;
    --secondary: 240 4.8% 95.9%;
    --secondary-foreground: 240 5.9% 10%;
    --muted: 240 4.8% 95.9%;
    --muted-foreground: 240 3.8% 46.1%;
    --accent: 237 59.3% 60%;
    --accent-foreground: 240 5.9% 10%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 5.9% 90%;
    --input: 240 5.9% 90%;
    --ring: 240 10% 3.9%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 7%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;

    --mantine-color-text: var(--foreground) !important;
    --mantine-color-red-6: var(--foreground) !important;
    --mantine-primary-color-filled: rgb(94, 102, 214) !important;
    --mantine-primary-color-filled-hover: rgb(94, 102, 214, 0.5) !important;
    --mantine-primary-color-light: rgba(94, 102, 214, 0.1) !important;
    --mantine-primary-color-light-hover: rgba(94, 102, 214, 0.12) !important;
    --mantine-color-gray-0: var(--background) !important;
  }
  .dark {
    --background: 240 10% 3.9%;
    --foreground: 0 0% 98%;
    --card: 240 10% 3.9%;
    --card-foreground: 0 0% 98%;
    --popover: 240 10% 3.9%;
    --popover-foreground: 0 0% 98%;
    --primary: 0 0% 98%;
    --primary-foreground: 240 5.9% 10%;
    --secondary: 240 3.7% 15.9%;
    --secondary-foreground: 0 0% 98%;
    --muted: 240 3.7% 15.9%;
    --muted-foreground: 240 5% 64.9%;
    --accent: 240 3.7% 15.9%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 240 3.7% 15.9%;
    --input: 240 3.7% 15.9%;
    --ring: 240 4.9% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-onest !font-medium;
  }
}

@keyframes accordion-down {
  from {
    height: 0;
    opacity: 0;
  }
  to {
    height: var(--radix-accordion-content-height);
    opacity: 1;
  }
}
